.container__portfolio {
    max-width: 100vw; 
}

.portfolio__lista {
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box; 
}

.portfolio__titulo {
    margin: 1em 0.5em;
    font-size: 4.5vw;
    font-weight: 700;
    color: var(--font-color-principal);
}

.portfolio__lista__item {
    text-align: center;
}

.portfolio__lista__item img {
    margin: 1.5em 2em;
    max-width: calc(100vw - 4em - 1.6vw); 
    height: auto; 
    border: 0.8vw solid var(--background-border);
    border-radius: 24px;
}

.lista__item__texto {
    font-size: 3.5vw;
    color: var(--font-color-principal);
    padding-bottom: 0.3em;
    text-align: center;
}

@media screen and (min-width: 1024px) {

    .portfolio__titulo {
        font-size: 2.5vw;
        text-align: center;
    }

    .lista__item__texto {
        font-size: 1.3vw;
        font-weight: 700;
    }

    .portfolio__lista__item img {
        margin: 1.5em 2em;
        max-width: calc(60vw - 4em - 0.8vw); 
        height: auto; 
        border: 0.4vw solid var(--background-border);
        border-radius: 24px;
    }

    .portfolio__lista__item img:hover {
        border: 0.4vw solid var(--background-link);
    }
}